!! -----------------------------------------------
!! Import other Configuration from ~/.urxvt
!! -----------------------------------------------
#include "/home/opxop/.urxvt/color/dracula"
#include "/home/opxop/.urxvt/urxvt"
#include "/home/opxop/.urxvt/rofi"
#include "/home/opxop/.urxvt/extension"
#include "/home/opxop/.urxvt/font"
!! -----------------------------------------------
