
!-- Xft settings -- !
!Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull

! window padding
st.borderpx:         8
st.font: JetBrainsMono Nerd Font:style=regular:pixelsize=13.5
st.opacity: 255

