/* Confirm Dialog */

@import "colors.rasi"

* {
    background-color:       @background;
    text-color:             @text;
	font:				 	"JetBrainsMono Nerd Font Mono 9";
}

window {
    width:      			360px;
    padding:    			25px;
    border:					2px;
    border-radius:          0;
    border-color:           @foreground;
    location:               center;
    y-offset:               -20px;
}

entry {
    expand: 				true;
    text-color:				@accent;
}
